.toolbar-img{
    width: 10%;
    height: auto;
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
    
}
mat-toolbar{
    background-color: gray;
}

img-icon{

   width: 2%;
   height: auto;
}

.toolbar-right{
    width: inherit;
    text-align:  right;
    margin-right: 3em;
}
.toolbar-button{
    margin-inline-end: 20%;
}

span{
    font-size-adjust: auto;

}

mat-icon{
    margin-right: 0.8em;
    position: relative;
}

.NavBar{
    width:100%;
    margin:0px;

}
.title{
    font-size-adjust: auto;
    font-size: 100%;
}
