<mat-toolbar>
    <span>
    <mat-icon svgIcon="food-apple"></mat-icon> {{ressouce.food}}
    <mat-icon svgIcon="tree"></mat-icon> {{ressource.wood}}
    <mat-icon svgIcon="diamond"></mat-icon> {{ressource.gold}} 
    <mat-icon svgIcon="wall"></mat-icon> {{ressouce.stone}} 
    <mat-icon svgIcon="heart-half-full"></mat-icon> 1000000000
    <mat-icon svgIcon="heart"></mat-icon> 1000000000  
    <mat-icon svgIcon="leaf"></mat-icon> 1000000000
    <mat-icon svgIcon="bowl"></mat-icon> 1000000000 
    <mat-icon svgIcon="fire"></mat-icon> 1000000000 
    <mat-icon svgIcon="skull"></mat-icon> 1000000000 
    <mat-icon svgIcon="emoticon-cool"></mat-icon> 1000000000
    <mat-icon svgIcon="emoticon-poop"></mat-icon> 1000000000
    <mat-icon svgIcon="sword"></mat-icon>1000000000
    <mat-icon svgIcon="shield"></mat-icon>1000000000
  </span>
</mat-toolbar>