
  
.col{
    width: 100%;
    align-items: right;
}



.example-container {
    display: flex;
    flex-direction: column;
   
  }
  
  .example-container > * {
    width: 100%;
 
  }

  .form-group{
    width: 30%;
  }
