<app-navbar></app-navbar>
  <app-nav-ressource></app-nav-ressource>
<!---------------------------------------------------------------------------------------->
<form name="form" class="sub-form" (ngSubmit)="f.form.valid && ask()" #f="ngForm" novalidate>
  <!--div class="form-group">
         <mat-form-field *ngFor="let ressource of ressources"  >
          <mat-placeholder>{{ressource.name}} </mat-placeholder>
          <mat-select>
            <mat-option  *ngFor="let number of numbers" [value]="number.name">{{number.name}}</mat-option>
          </mat-select>
        </mat-form-field>
    <button mat-raised-button class="validation"   [disabled]="loading" color="primary">Ask</button>
    <img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
    
  </div-->
  <div class="form-group">
      <mat-form-field>
          <mat-placeholder>Wood:</mat-placeholder>
          <mat-select [(ngModel)]="model.wood" name="wood" >
            <mat-option  *ngFor="let number of numbers" [value]="number.name">{{number.name}}</mat-option>
          </mat-select>
        </mat-form-field>
      <mat-form-field>
          <mat-placeholder>Food:</mat-placeholder>
          <mat-select [(ngModel)]="model.food" name="food" >
            <mat-option  *ngFor="let number of numbers" [value]="number.name">{{number.name}}</mat-option>
          </mat-select>
        </mat-form-field>
      <mat-form-field>
          <mat-placeholder>Gold:</mat-placeholder>
          <mat-select [(ngModel)]="model.gold" name="gold" >
            <mat-option  *ngFor="let number of numbers" [value]="number.name">{{number.name}}</mat-option>
          </mat-select>
        </mat-form-field>
      <mat-form-field>
          <mat-placeholder>Stone:</mat-placeholder>
          <mat-select [(ngModel)]="model.stone" name="stone" >
            <mat-option  *ngFor="let number of numbers" [value]="number.name">{{number.name}}</mat-option>
          </mat-select>
        </mat-form-field>
        <button mat-raised-button class="validation"   [disabled]="loading" color="primary">Ask</button>
        <img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />    
  </div>
</form>
<form name="form" class="sub-form" (ngSubmit)="fm.form.valid && use()" #fm="ngForm" novalidate>
    <div class="form-group">
        <mat-form-field>
            <mat-placeholder>Potion</mat-placeholder>
            <mat-select [(ngModel)]="model.potion" name="potion" >
              <mat-option  *ngFor="let potion of Potions" [value]="potion.id">{{potion.nom}}</mat-option>
            </mat-select>
          </mat-form-field>
          <button mat-raised-button class="validation" [disabled]="loading" color="primary">Use</button>
          <img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />              
    </div>
</form>



  <!------------------>

  <mat-table #table [dataSource]="dataSource">
    <!-- ID Column -->
    <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef> Number </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.id}} </mat-cell>
    </ng-container>

    <!-- QTY unit Column -->
    <ng-container matColumnDef="nbunit">
      <mat-header-cell *matHeaderCellDef> Number units </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.quantite}} </mat-cell>
    </ng-container>

    <!-- Icon Column -->
    <ng-container matColumnDef="button">
      <mat-header-cell *matHeaderCellDef> Button </mat-header-cell>
      <mat-cell *matCellDef="let row">
        <button mat-icon-button routerLink="/">
          <mat-icon class="check-icon"> check_circle </mat-icon>
        </button>
        <button mat-icon-button routerLink="/">
          <mat-icon class="cancel-icon"> cancel </mat-icon>
        </button>
      </mat-cell>
    </ng-container>
    <!-- -->
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
  <mat-paginator [length]="100" [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]">
  </mat-paginator>


  <!---------------------------------------------------------------------------------------->