img{
    width: auto;
    height: auto;
    z-index: -1;
    position: absolute;
    opacity: 0.15;
    top: 50%;
    left: 75%;
    transform: translateX(-50%) translateY(-50%)
}

form {
    width: 60%;
    height: 40%;
    position: absolute;
    top: 50%;
    margin-left: 2vw;
    left: 40%;
    transform: translateX(-50%) translateY(-50%);
    
    
}
a {
    font-style: italic;
    height: 40%;
    color: gray;
    top: 80%;
    position: absolute;
    border-radius: 2em;
    left:50%;
    transform: translateX(-50%) translateY(-50%);
   
}

button {
    top: 65%;
    margin-block-start: 5vw;
    position: absolute;
    border-radius: 2em;
    left:40%;
    transform: translateX(-50%) translateY(-50%);
}
mat-form-field {
    width: 60%;
    height: 30%;
}

mat-icon {
    width: 5%;
    font-size:4vw;
    height: 40%;
    transform: translateX(+10%) translateY(+14%);
    margin-right:3vw;
}