

.incident-container {
    margin-top: 1vw;
    display: flex;
    flex-direction: column;
    width: 75%;
    backface-visibility:0.1 ;
  }
  
  .incident-header {
    min-height: 4em;
    display: flex;
    align-items: baseline;
    padding: 1vw;
    font-size-adjust: auto;
    justify-content: space-between;
  }
  
  .mat-form-field {
    font-size: 1em;
    flex-grow: 1;
    margin-left: 1em;
  }
  

.character{
    width: auto;
    height: 100%;
}
input{
    width: 30%;
}
h3{
    color: white;
    font-family: 'Lekton', sans-serif;
    font-size-adjust: auto;
}
h4{
    color: white;
    font-family: 'Lekton', sans-serif;
    font-size: 0.8em;
}


mat-card{
    background-color: rgba(0,0,0,0.501)
}