<app-navbar></app-navbar>

<!------------------------------------------- vision générale  ---------------------------------------------->
<p></p>
<div class="overlay">
</div>
<div class="tab">
  <mat-card>
    <mat-card-content>
      <mat-grid-list cols="3" rowHeight="12.500em">
        <mat-grid-tile *ngFor="let character of characters">
          <div class="overlay">
          </div>
          <h3 mat-line>{{character.name | titlecase }}
            <br/>
            <h4>Stock:{{character.qty}} </h4>
          </h3>
          <img class="character" [alt]="character.name" src="./assets/img/{{faction}}/{{character.name}}.png">
          <mat-grid-tile-footer>
            <span mat-line>Life: {{character.life}}</span>
            <span mat-line> Heal: {{character.heal}}</span>
            <span mat-line> Degats: {{character.Dps}}</span>
            <input matInput #qty (keyup.enter)="qty.value" type="number" min="0" placeholder={{character.qty}} max={{character.qty}}>
            <input matInput #name value="{{character.name}}" style="visibility: hidden;">
            <button mat-icon-button (click)="sendattack(name.value,qty.value)">
              <mat-icon svgIcon="sword"></mat-icon>
            </button>
            <button mat-icon-button (click)="senddefense(name.value,qty.value)">
              <mat-icon svgIcon="shield"></mat-icon>
            </button>
            <button mat-icon-button (click)="deleteunit(name.value,qty.value)">
              <mat-icon>delete</mat-icon>
            </button>
          </mat-grid-tile-footer>
        </mat-grid-tile>
      </mat-grid-list>
    </mat-card-content>
  </mat-card>
</div>