<div class="overlay"></div>

<form name="form" class="sub-form" (ngSubmit)="f.form.valid && register()" #f="ngForm" novalidate>
  <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !username.valid }">
  <mat-icon>person</mat-icon>
  <mat-form-field>
    <input matInput #username="ngModel" [(ngModel)]="model.username" name='username' (keyup.enter)="username.value" placeholder="Login" required>
  </mat-form-field>
  <mat-error *ngIf="f.submitted && !username.valid" class="help-block">Login is required</mat-error>
</div>
  <br/>
  <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !password.valid }">
  <mat-icon>https</mat-icon>
  <mat-form-field>
    <input matInput [(ngModel)]="model.password" #password="ngModel" name='password' (keyup.enter)="pass.value" type="Password" placeholder="Password" required>
  </mat-form-field>
  <mat-error *ngIf="f.submitted && !password.valid" class="help-block">Password is required</mat-error>
  </div>
  <br/>
  <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !mail.valid }">
  <mat-icon>https</mat-icon>
  <mat-form-field>
    <input matInput [(ngModel)]="model.mail" #mail="ngModel"  name="mail" (keyup.enter)="mail.value" type="mail" placeholder="Email" required>
  </mat-form-field>
  <mat-error *ngIf="f.submitted && !mail.valid" class="help-block">Email is required</mat-error>
  <br/>
  </div>
  <div class="form-group" >
  <mat-form-field class="mat-select">
      <mat-placeholder><b>Faction</b></mat-placeholder>
      <mat-select [(ngModel)]="model.faction" name="faction" >
        <mat-option  *ngFor="let faction of factions" [value]= "faction.name">{{faction.name}}</mat-option>
      </mat-select>
    </mat-form-field>
    <!--div *ngIf="f.submitted && !faction" class="help-block">Faction is required</div-->
  </div>
<div class="form-group">
      <button mat-raised-button class="connection" color="primary" [disabled]="loading" class="btn btn-primary">Register</button>
      <img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
      <button mat-raised-button  color="primary" routerLink="/" class="btn btn-link">Cancel</button>
  </div>
</form>
<!--
<a routerLink="">Retour</a>
<button mat-raised-button class="connection" color="primary" (click)="alert(login.value,pass.value,mail.value,select.value)">Connection</button>
-->
