<app-navbar></app-navbar>

<!------------------------------------------- vision générale  ---------------------------------------------->
<mat-card class="ressource">
        <mat-card-content >
        <mat-icon svgIcon="food-apple"></mat-icon>Food : qty <mat-icon class="col2" svgIcon="heart-half-full"></mat-icon>Life Potion (small) : qty <mat-icon class="col2" svgIcon="heart"></mat-icon>Life Potion (big) : qty </mat-card-content>
        <mat-card-content><mat-icon svgIcon="tree"></mat-icon>Wood : qty <mat-icon class="col2" svgIcon="leaf"></mat-icon>Heal Potion (small) : qty <mat-icon class="col2" svgIcon="bowl"></mat-icon>Heal Potion (big) : qty </mat-card-content>
        <mat-card-content><mat-icon svgIcon="wall"></mat-icon>Stone : qty <mat-icon  class="col2" svgIcon="fire"></mat-icon>Dps Potion (small) : qty <mat-icon class="col2" svgIcon="skull"></mat-icon>Dps Potion (big) : qty </mat-card-content>
        <mat-card-content><mat-icon svgIcon="diamond"></mat-icon>Gold : qty </mat-card-content>
        <mat-card-content><br/></mat-card-content>
        <mat-card-content class="col"><mat-icon   svgIcon="emoticon-cool"></mat-icon> Victory : nb  <mat-icon  class="col2" svgIcon="emoticon-poop"></mat-icon> Defeat : nb </mat-card-content>
        <mat-card-content></mat-card-content>
        <mat-card-content><mat-icon class="col2"  svgIcon="sword"></mat-icon>Attack Power:</mat-card-content>
        <mat-card-content><mat-icon  class="col2" svgIcon="shield"></mat-icon>Defense Power:</mat-card-content>
</mat-card>

<img  class="background" [alt]="maitre" src="./assets/img/{{faction}}/maitre.png">