.toolbar-img{
    width: 10%;
    height: auto;
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
    
}

img-icon{
   width: 2%;
   height: auto;
}


.toolbar-right{
    width: inherit;
    text-align:  right;
    margin-right: 3em;
}

.toolbar-button{
    margin-inline-end: 20%;
}

span{
    font-size-adjust: auto;

}

.NavBar{
    width:100%;
    margin:0px;
}

img.background{
    width: auto;
    height: 70%;
    z-index: -1;
    position: absolute;
    top: 50%;
    left: 20%;
    transform: translateX(-50%) translateY(-25%)
}

.ressource{
    width: 50%;
    position: absolute;
    top: 35%;
    left: 70%;
    z-index: -1;
    transform: translateX(-50%) translateY(-50%)
}

mat-icon{
    margin-right: 0.8em;
    position: relative;
}

.col2{
    margin-left: 4em;
    margin-right: 1em;
}
.col{
    text-align: center;
}