
<form class="log-form">
    <mat-icon>person</mat-icon>
    <mat-form-field>
        <input matInput type="name" placeholder="Name">
    </mat-form-field>
    <br/>
    <mat-icon>mail</mat-icon>
    <mat-form-field>
            <input matInput placeholder="Email"  required>

    </mat-form-field>
    <br/>
    <mat-icon>mail</mat-icon>
    <mat-form-field>
            <input matInput placeholder="Email Validation"  required>

    </mat-form-field>
</form>
<a href="">Return to the login page</a>
<button mat-raised-button color="primary">Submit</button>
